<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>Victory</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[0] %>">
    <script src="static/update-browser/scripts/bowser.js"></script>
    <script>
        if (!((bowser.msie && bowser.version >= 10) || bowser.msedge || bowser.webkit || bowser.firefox))
            location.replace('static/update-browser/index.html')
    </script>
</head>

<body>
    <div id="app"></div>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
    <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
</body>

</html>